<h1><%= @customer.name %></h1>
<% @items.each do |item| %>
<div id="item-<%= item.id %>">
<h4><%= item.supermarket.name%></h4>
<p><%= item.name %></p>
<p>$<%= item.price %></p>
<% end %>
</div>

<%= form_with model: CustomerItem.new, url: "/customers/#{@customer.id}", local: true, method: :post do |form| %>
<%= form.label :name %>
<%= form.text_field :name %>
<%= form.label :price %>
<%= form.number_field :price %>
<%= form.label :store_name %>
<%= form.text_field :store_name %>
<%= form.submit "Add Item" %>
<% end %>